html
	head
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')

		<!-- Navbar -->
		nav(class="navbar navbar-default navbar-static-top navbar-inverse")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#noise-navbar")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(id="home" class="navbar-brand" href="dashboard#") Home
					ul(class="nav navbar-nav navbar-right")
						li
							<a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
	body
		div.container
			div.welcome
				h1 Welcome #{user.firstName} #{user.lastName}